#title{
  background-color: #ff4c68;
  color: #f4f4f4;
}

h1{
  font-family:'Montserrat Black', sans-serif;

  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 5% 10%;
}
.body{
  font-family: "Montserrat";
}

/* navigation-bar */
.navbar{
   padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 20px;

}
.nav-link{
  font-size: 1.2rem;
  font-family:"Montserrat-Light"
}
 /* Downlod buttons */
.download-button{
  /* margin: 10% 5% 8% 0%; */
  margin: 10% 3% 5% 0;
}
/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
}
